@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:wght@700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

/* NAVIGATION BAR START */
/* ======================================================= */


body{
    font-family: 'Montserrat', sans-serif;
}

h1,li,a, h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    background-color: rgb(39, 34, 37);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(39, 34, 37);
}

header .search-box{
    width: 40%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(39, 34, 37);
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    color: azure;
}




.header1{
    cursor: pointer;
}

.user-pic{
    width: 80px;
    border-radius: 80%;
    cursor: pointer;
    margin-left: 30px;
}




.nav_links{
    list-style: none;
    background-color: rgb(39, 34, 37);

}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
    
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: crimson;
}

.sub-menu-wrap{
    background-color: transparent;
    position: absolute;
    top:100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}


.sub-menu{
    background-color: rgb(34, 22, 22);
    padding: 20px;
    margin: 10px;
}

.user-info{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(34, 22, 22);
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    background-color: rgb(34, 22, 22);;
}

.user-info img{
    
        width: 70px;
        border-radius: 80px;
        margin-right: 15px;
}


.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 10px 0 15px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: rgb(34, 22, 22);;
    margin: 12px 0;
}

.sub-menu-link p {
    background-color: rgb(34, 22, 22);;
   width: 100%; 

}

.sub-menu-link i{
    width: 40px;
    background: #575151;
    border-radius: 50%;
    padding: 11px;
    margin-right: 15px;
}

.sub-menu-link span {
    background-color: rgb(34, 22, 22);;
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;

}

/* NAVIGATION BAR END */
/* ======================================================== */






/* IMAGE-SLIDER START */
/* ======================================================== */


.Image-slider{
    background-color: rgb(20, 19, 19);
}

.slider{
    margin-left: 25%;
    width: 1024px;
    height: 750px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 1024px;
    height: 750px;
}


.navigation-manual{
    margin-top: 220px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}



.manual-btn:not(:last-child){
    margin-right: 40px;
}


.manual-btn:hover{
    background:#40D3DC ;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}


.navigation-auto{
    pointer-events: none;
    position: absolute;
    background-color: transparent;
    display: flex;
    width: 800px;
    justify-content: center;
    margin: 720px 112px
}


.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}


.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40D3DC;
}

/* IMAGE-SLIDER END */
/* /* ======================================================== */ 

/* Movie-OVERVIEW START */
/* ================================================================= */


#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}


.movie img {
    width: 100%;

}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h4{
    margin-top: 0;
}


.movie-info span{
    background-color: #575151;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}


.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}


.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition:transform 0.3s ease-in;
}

.overview h4{
    background-color: transparent;
}

.movie:hover .overview{
    transform:translateY(0);
}


#tag{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: white;
    padding: 10px 20px;
    background-color: red;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: yellowgreen
}

.no-results{
    color: white;
    font-size: 30px;
    margin-top: 180px;
}